.container{
	border-radius: 0px;
}
.jumbotron{
	background: url('/static/images/jumbo.jpg');
	color:white;
	border-radius: 0px !important;
	height: 90vh !important;
	justify-content: center !important;
	
}
